.detail{
  .d-header i{
    position: absolute;
    margin-left: .3rem;
    line-height: 1rem;
    color: white;
  }
  .d-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 90%;
    height: 1.1rem;
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    button{
      width: 40%;
      border: none;
      height: .9rem;
      border-radius: .1rem;
      color: white;
      font-size: .4rem;
    }
    .car{
      background:#faa990 ;
    }
    .buy{
      background: coral;
    }
  }
}